
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: header('Create New Post')"/>
</head>

<body>
<th:block th:replace="fragments/navbar" />

<h2>Create New Post</h2>
<form th:action="@{/posts/create}" th:method="post" th:object ="${post}">
    Title  <input type="text" th:field="*{title}"/>
    Body  <textarea th:field="*{body}"></textarea>
    <!--<label for="email">Email</label><textarea name="email" id="email"></textarea>-->
    <button>Submit</button>
</form>

</body>
</html>